<div id='calendar'></div>

<script>
  $(document).ready(function () {

    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();

    var calendar = $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },

      eventSources: [
        {
          url: '/events',
          type: 'POST',
          data: {
            custom_param1: 'something',
            custom_param2: 'somethingelse'
          },
          error: function (e) {
            alert('there was an error while fetching events!');
            console.log(e)
          },
          success: function (data) {
            console.log(data)
          }
          //className: 'popover'
          //color: '#eee',     // a non-ajax option
          //textColor: 'black' // a non-ajax option
        },
        // any other sources...

        'https://www.google.com/calendar/feeds/mccrustin%40gmail.com/public/basic'
      ],

      eventClick: function (task) {
        // opens events in a popup window
        {#        window.open(event.url, 'gcalevent', 'width=700,height=600');#}

        $.ajax({
          type: "POST",
          url: '/task-overview',
          data: task,
          success: function (data) {
            alert('lol')
            $('#task-overview').html(data);

            $('.popover').popover({
              html: true,
              trigger: 'hover',
              content: function () {
                return $('#popover_content_wrapper').html();
              }

            });
          }
        });
        return false;
      },

      editable: true,
      selectable: true,
      selectHelper: true,

      select: function (start, end, allDay) {
        var title = prompt('Event Title:');
        if (title) {
          calendar.fullCalendar('renderEvent',
             {
               title: title,
               start: start,
               end: end,
               allDay: allDay
             },
             true // make the event "stick"
          );
        }
        calendar.fullCalendar('unselect');
      },

      loading: function (bool) {
        if (bool) {
          $('#loading').show();
        } else {
          $('#loading').hide();
        }
      }
    });

  });

</script>
