{% block content %}
  <div class="gantt">
    <div class="gantt-container">

      <div class="row-fluid show-grid">
        <div class="span4">
          <blockquote>
            <p>Buy bricks</p>
            <small>james</small>
          </blockquote>

        </div>
      </div>
      <!-- /row -->
      <div class="row-fluid show-grid">
        <div class="span3 offset3">
          <blockquote>
            <p>Buy cement</p>
            <small>justin</small>
          </blockquote>
        </div>
      </div>
      <!-- /row -->
      <div class="row-fluid show-grid">
        <div class="span6 offset5">
          <blockquote>
            <p>Build house</p>
            <small>james</small>
          </blockquote>
        </div>
      </div>
      <!-- /row -->
      <div class="row-fluid show-grid">
        <div class="span2 offset10">
          <blockquote>
            <p>Sell house</p>
            <small>justin</small>
          </blockquote>
        </div>
      </div>
      <!-- /row -->

    </div>
  </div>

{% endblock %}
