{% extends "base/base_with_nav_responsive.html" %}
{% from "macros.html" import alert, field, input, date %}

{% block css %}
  <link rel="stylesheet" href="../static/css/datepicker.css" media="screen"/>
{% endblock %}

{% block content %}

  <div class="span8">
    <form class="form-horizontal" action="" method="post" name="create-project">
      <fieldset>
        <legend>Create Project</legend>

        {{ field(form.name) }}
        {{ field(form.info) }}
        {{ date(form.start_date) }}
        {{ date(form.end_date) }}
        {{ field(form.team) }}

        <div class="form-actions">
          {{ form.hidden_tag() }}
          <button type="submit" class="btn btn-primary">Submit</button>
          <a href="#" class="btn">Cancel</a>
        </div>
      </fieldset>
    </form>
  </div>

{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $('.datepicker').datepicker()
  </script>
{% endblock %}
