{% extends "base/base_with_nav_responsive.html" %}

{% block content %}
  <body>
  <div class="container">

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
      <h1>megaproject</h1>
      <br>
      <p>Need to manage a project? Well, here at megaproject, we are managing a project that makes it
      easy for project managers to manage projects and other project management-based managerial activities.</p>

      <p><a href="{{ url_for_security('register') }}" class="btn btn-primary btn-large">Register &raquo;</a></p>
    </div>

    <hr>


  </div>
  </body>
{% endblock %}
