{% extends "base/base_with_nav_responsive.html" %}

{% block content %}
  <body>
  <div class="container">

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
      <h1>megaproject</h1>
      <br>

      <p>Need to manage a project? Well, here at megaproject, we are managing a project that makes it
        easy for project managers to manage projects and do other project management-based managerial activities.</p>

      <br>
      <h4>Simple. Efficient. Management. Projects. These are all <em>good words.</em> You should <em>use
        them.</em></h4>
      <br>
      <p><a href="{{ url_for_security('register') }}" class="btn btn-primary btn-large">Register &raquo;</a></p>
    </div>

    <hr>


  </div>
  </body>
{% endblock %}
