{% extends 'base/base_with_nav_responsive.html' %}

{% block content %}


  <div class="container">
    <table class="table table-hover table-bordered table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Project Name</th>
        <th>Description</th>
        <th>Team</th>
      </tr>
      </thead>
      <tbody>
      {% for project in projects %}
        <tr>
          <td>{{ project.id }}</td>
          <td>{{ project.name }}</td>
          <td>{{ project.info }}</td>
          <td>{{ project.team }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>



{% endblock %}
