{% extends "base/base.html" %}

{% block head %}
  <style type="text/css">
    a.nohover {
      color: white !important;
    }

  </style>
{% endblock %}

{% block body %}
  <body>
  <div id="wrap">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner square">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">mega<span style="color: #f5f5f5">project</span></a>

          {% if current_user.is_authenticated() %}
            <div class="nav-collapse collapse navbar-responsive-collapse">
              <ul class="nav">
                <li class="dropdown">
                  <a class="nohover" href="/projects"><i class="icon-bar-chart icon-white"></i> Projects</a>
                </li>
              </ul>
              <ul class="nav pull-right">
                <li class="divider-vertical"></li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-user icon-white"></i>
                    {{ current_user.first_name }} {{ current_user.last_name }}
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('user', id = current_user.id) }}"><i class="icon-picture icon-white"></i>
                      Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url_for('security.logout') }}"><i class="icon-signout icon-white"></i> Logout</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <form class="navbar-search pull-right" action="">
                <i class="icon-search icon-white"></i>
                <input type="text" class="typeahead search-query span2" id="typeahead" placeholder=" Search">
              </form>
            </div>
          {% else %}

            <div class="nav-collapse collapse navbar-responsive-collapse">
              <ul class="nav pull-right">
                <li class="divider-vertical"></li>
                <li>
                  <a href="{{ url_for('security.login') }}">
                    <i class="icon-signin icon-white"></i>
                    Login
                  </a>
                </li>
                <li>
                  <a href="{{ url_for('security.register') }}">
                    <i class="icon-edit icon-white"></i>
                    Register
                  </a>
                </li>
              </ul>
            </div>

          {% endif %}

          <!-- /.nav-collapse -->
        </div>
      </div>
      <!-- /navbar-inner -->
    </div>

    {% block content %}{% endblock %}

    <div id="push"></div>
  </div>

  <div id="footer">
    <div class="container-fluid">
      <p class="muted credit">
        &copy; megaproject
      </p>
    </div>
  </div>
  </body>
{% endblock %}

{% block footer %}
  <script type="text/javascript">

    // Initialize typeaheads
    $('.typeahead').typeahead({
      source: function (query, process) {
        $.post('/typeahead',
           { data: query },
           function (data) {
             process(data.options);
           }
        );
      }
    });
  </script>

  {% block scripts %}{% endblock %}
{% endblock %}
